html,body{
    margin: auto;
}
a{
    text-decoration: none;
}
#label1, #label2{
    font-family: 'Satisfy', cursive;
}

#grad {
    background-image: linear-gradient( #8b93b8,#e7feff);
    height: 100vh;
    margin:0;
   /*  width: 100vw;
    height: 100vh;
    padding: 0; */
  }

.homeContainer{
    text-align: center;
}
.homeSection{
padding:50px;
}

.cartContainer{
    width: 100%;
    text-align: center;
    padding: 50px;
}

.checkoutContainer{
    width: 80%;
    padding:50px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.txtFields{
    width: 80%;
    margin: 60px;
}
.errorMsg{
    padding:20px;
    font-size: 1rem;
    text-align:inherit;
    color:red;
    
}
.checkoutBtn{
    width:50%;
    margin: 0 auto;
}

/* add remove buttons in chart */
.add-remove{
padding:20px;
}